img {
  width: 600px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}

body {
  display: flex;
  flex-direction: column;
}

canvas {
  height: 45vh;
  width: auto;
  margin: 0 auto;
}

.color-picker {
  margin: 0 auto;
}

table, td, th {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  padding: 1vh;
}
.zoneHeader{
  background-color: #aaaaaa
}
